[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
!WebGLBuild/Build/
!WebGLBuild/Build/**
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/
.dotnet_compile_home/
.nuget_compile_packages/
.tmp_gltfast/
__pycache__/
*.py[cod]
*.blend1
UnityProject/Data/
WebGLBuild/Build/*.unityweb
AudioMasters/
_site/
WebGLBuild/UnityProject_BurstDebugInformation_DoNotShip/
sysinfo.txt
UnityProject/UnityTest.log
UnityProject/TestResults.xml
Tools/CompileCheck/compile-check.log
WebGLBuild.log
